<%- include("partials/header") -%>
    <div class="page-content page-container" id="page-content">
        <h1>Featured Location List</h1>
        <div class="row">
          <% locationsList.forEach(location => { %>
        <div class="col mb-4">
          <div class="card h-100" style="max-width: 20rem;">
              <div class="card-body">
               <h5 class="card-title"> <%=location.name%></h5> 
        <img class="card-img-top" src="<%=location.image %>" alt="Card image cap">
        <h6 class="card-text">Location:</h6>
        <a href="<%=location.location %>"> <%=location.name %>.com</a>
        <h6 class="card-text">Description:</h6>
        <p class="card-text"> <%=location.description %></p>
        <button class="like_btn">
          <span id ="delete"><i class="fa fa-trash" aria-hidden="true">delete</i>
          </span>
        </button>
        <button class="like_btn">
          <span id ="edit"><i class="fa fa-trash" aria-hidden="true">Edit</i>
          </span>
        </button>
       
       
 
              </div>
          </div>
        </div>
        <% }) %> 
        </div>
      </div>
    </div>
</script>
<style>
.h1 {
  text-align: center;
  color: black;
  top: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.header {
  height: 90px;
  width: 100%;
  border: 1px solid #4caf50;
  background-color: #006747;
}
#ico{
  padding-left: 20%;
}
</style>
  
    <%- include("partials/footer") -%>

  